<div class="ourWebPartnerSection">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
			</div>
			<div class="col-md-12">
				<div class="row">
				{% for row in rows %}
					<div class="col-md-3 col-sm-3 col-xs-6 ">
						<div class="partnerHolder">
							{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ field_banner }}'] }}
						</div>
					</div>
				{% endfor %}	
				</div>
			</div>
		</div>
	</div>
</div>
